label{
  font-weight: 600;
}
.si-title{
  font-size: 26px;
  padding: 30px 0px 0px 0px;
  color: green;
}
.si-body{
 font-size: 14px; 
 padding: 5px 0px 25px 0px;
}

.sub-btn{
  margin: 30px 0px 20px 0px;
  background-color: green;
  border: green;
}


